<h1 class="text-center mt-4">Articles listing page</h1>


<%= render 'article' , articles: @articles%>

<div class="flickr_pagination mb-4">
  <div class="page_info">
    <%= page_entries_info @articles %>
  </div>
  <%= will_paginate @articles, :container => false %>
</div>