<div class="container" id="home-container">
  <div class="bg-light p-5 rounded-lg m-3 text-center text-white" id=welcome>
    <h1 class="display-4">Alpha Blog</h1>
    <p class="lead">This is a simple blog website where you can write whatever you want, with no modification from higher powers.</p>
    <hr class="my-4">
    <p>Users not yet implemented</p>
    <a class="btn btn-success btn-lg" href="#" role="button">Sign up</a>
  </div>
</div>