<footer class="footer mt-auto py-3 bg-dark">
  <div class="container">
    <span class="text-light"><small>Copyright &copy; <%= link_to "Google", "https://google.com", class: "text-white text-decoration-none"%></small></span>
  </div>
</footer>
